<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Page</title>
</head>
<body>
    
    <fieldset>

    <legend>Registration Form</legend>

    <form action="" method="post">
        <input type="text" name="username" placeholder="Enter your username">
        <br>
        <br>

        <input type="email" name="email" placeholder="Email ID">
        <br>
        <br>

        <input type="password" name="password" placeholder="Password">
        <br>
        <br>

        <input type="submit" value="Register">
    </form>

    </fieldset>


</body>
</html>